# Salin file ini menjadi .env jika ingin memakai dotenv/package tambahan.
# Pada versi tanpa dependency ini, Anda bisa langsung set environment variable dari terminal.
PORT=3000
ADMIN_PASSWORD=adminppdb
SCHOOL_NAME=SMAN 2 NGAWI
REGISTRATION_YEAR=2026
